.container {
    -webkit-box-shadow: 6px 3px 7px -1px rgba(0,0,0,0.73); 
    box-shadow: 6px 3px 7px -1px rgba(0,0,0,0.73);
     width: 650px;
    margin: 0 auto; 
    padding: 30px;
    overflow: hidden;
    box-shadow: 6px black;
}

body {
    background-image: url(white.jpg);
    background-size: cover;
    background-color: white;
    padding: 40px;
}

.left {
    float: left;
    width: 40%;
    text-align: center;
}

.profile-pic {
    width: 140px;
    height: 140px;
    background-color: #4cd3e3;
    border-radius: 50%;
    border: 2px solid white
    margin: 20px auto 15px auto;
}

.right {
    float: right;
    width: 55%;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 2px 4px 6px black; 
}

.label {
    font-size: 12px;
    margin: 15px 2px;
}

.value {
    font-size: 15px;
    color: #373737;
}


.btn {
    background-color: #4cd3e3;
    color: white; 
    border: none; 
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 15px;
}
